[submodule "reveal.js"]
	path = reveal.js
	url = https://github.com/hakimel/reveal.js.git
[submodule "src/_plugins/jekyll-spaceship"]
	path = src/_plugins/jekyll-spaceship
	url = https://github.com/jeffreytse/jekyll-spaceship.git
