---
layout: resume
title: Piotr Jacek Gumulka
subtitle: |
  I help projects, teams and individuals find the way to achieve their business objectives.  
  Servant leader, DevOps engineer, university lecturer and public speaker eager to learn new technologies and tools.
use-site-title: true

---

{% include sections/career-profile.html %}

{% include sections/experiences.html %}

{% include sections/projects.html %}

{% unless site.resume.sidebar.certs %}
  {% include sections/certs.html %}  
{% endunless %}

{% unless site.resume.sidebar.education %}
  {% include sections/education.html %}
{% endunless %}

{% unless site.resume.sidebar.skills %}
  {% include sections/skills.html %}
{% endunless %}