---
layout: page
title: Slides Index
subtitle: Slides for my available talks

---
<script src="/js/jquery-1.11.2.min.js"></script>
<script src="/js/jQWCloudv3.4.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.min.js"></script>
<div class="card-group container-fluid">
  {% for slide in site.slides %}
    <div class="card">
      <div class="card-body">
        <a href="{{ slide.url | relative_url }}"><h3 class="post-category-name card-title"><i class="fa fa-book" aria-hidden="true"></i> {{ slide.title }} </h3></a>
        <div class="objectives-list">
          <p class="description" >Objectives: </p>
          {% for objective in slide.objectives %}
          <p class="card-text" >{{ objective }}</p>
          {% endfor %}
        </div>
        {% if slide.tags.size > 0 %}
        <div class="slide-tags">
          <p class="description" >Tags: </p>
          <div class="container-fluid">
            {% for tag in slide.tags %}
            <a class="bg-primary badge label-primary" href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
            {% endfor %}
          </div>
        </div>
        {% endif %}
    </div>
  </div>  
  {% endfor %}
</div>

<script>
  $('.card-group').isotope({
  itemSelector: '.card',
  layoutMode: 'fitRows'
})
</script>