{% assign certificates = site.data.resume.certificates %}
{% if certificates %}
<section class="section certificates-section">

  <h2 class="section-title">
    <span class="fa-stack fa-xs">
      <i class="fas fa-circle fa-stack-2x"></i>
      <i class="fas fa-file-alt fa-stack-1x fa-inverse"></i>
    </span>
    {{ certificates.title }}
  </h2>

  {% if certificates.intro %}
  <div class="intro">
    {{ certificates.intro | markdownify }}
  </div><!--//intro-->
  {% endif %}

  {% for cert in certificates.certs %}
  <div class="item">
    {% if cert.link %}
      <li><a href="{{ cert.link }}">{{ cert.name }}</a>
    {% else %}
      <li>{{ cert.name }}
    {% endif %}
    - <span class="project-tagline">{{ cert.issuer }}({{ cert.date }})</span>  
  </li>
  </div><!--//item-->
  {% endfor %}

</section><!--//section-->
{% endif %}
