{% assign contact = site.contact %}
<div class="contact-container container-block">
  <ul class="list-unstyled contact-list">

    {% if contact.email %}
    <li class="email"><i class="fas fa-envelope"></i>
      <a href="mailto:{{ contact.email }}">{{ contact.email }}</a>
    </li>
    {% endif %}

    {% if contact.phone %}
    <li class="phone"><i class="fas fa-phone"></i>
      <a href="tel:{{ contact.phone }}">{{ contact.phone }}</a>
    </li>
    {% endif %}

    {% if site.author.citizenship %}
    <li class="phone"><i class="fas fa-passport"></i>
      {{ site.author.citizenship }}
    </li>
    {% endif %}

    {% if site.timezone %}
    <li class="timezone"><i class="fas fa-clock"></i>
      {{ site.timezone }}
    </li>
    {% endif %}

    {% if contact.website %}
    <li class="website"><i class="fas fa-earth-europe"></i>
      <a href="http://{{ contact.website }}" target="_blank">{{ contact.website }}</a>
    </li>
    {% endif %}

    {% if contact.linkedin %}
    <li class="linkedin"><i class="fab fa-linkedin"></i>
      <a href="https://linkedin.com/in/{{ contact.linkedin }}" target="_blank">{{ contact.linkedin }}</a>
    </li>
    {% endif %}

    {% if contact.github %}
    <li class="github"><i class="fab fa-github"></i>
      <a href="http://github.com/{{ contact.github }}" target="_blank">{{ contact.github }}</a>
    </li>
    {% endif %}

    {% if contact.print %}
    <li class="pdf"><i class="fas fa-file-pdf"></i>
      <a href="{{ '/print' | absolute_url }}" target="_blank">Printable version</a>
    </li>
    {% endif %}

  </ul>
</div><!--//contact-container-->
