{% assign author = site.author %}
{% assign sidebar = site.resume.sidebar %}
<div class="sidebar-wrapper">

  {% include sections/profile.html %}

  {% include sections/contact.html %}

  {% include sections/language.html %}
  
  {% if sidebar.education %}
    {% include sections/education.html %}
  {% endif %}

  {% if sidebar.certs %}
    {% include sections/certs.html %}
  {% endif %}

  {% if sidebar.skills %}
    {% include sections/skills.html %}
  {% endif %}
  
  {% include sections/interests.html %}

</div><!--//sidebar-wrapper-->
