<script src="/js/lib/head.min.js"></script>
<script src="/js/reveal.js"></script>
<script>
	// Full list of configuration options available here:
	// https://github.com/hakimel/reveal.js#configuration
	Reveal.initialize({
		controls: true,
		progress: true,
		history: true,
		center: false,
		theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
		transition: 'none', // default/cube/page/concave/zoom/linear/fade/none
		slideNumber: 'c/t',
		menu: {
			custom: [ 
                {% if site.url-source %}
				  {title: 'Github', style: 'fab', icon: 'fa-github', href: '{{ site.url-source }}/{{ page.path }}' },
                {% endif %} 
				{% if site.contact.linkedin %}
                  {title: 'LinkedIn', style: 'fab', icon: 'fa-linkedin', href: 'https://linkedin.com/in/{{ contact.linkedin }}' }, 
                {% endif %}
				{title: 'Slides', style: 'fas', icon: 'fa-home', href: "{{ 'slides' | relative_url }}" } 
			],	
			customFields: [{ title: 'Back to slides', href: "{{ 'slides' | relative_url }}" }],
			width: 'half',
			numbers: false,
			titleSelector: 'h1',
			hideMissingTitles: true,
			openSlideNumber: false
		},
		// Optional libraries used to extend on reveal.js
		dependencies: [
			{ src: '/js/plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: '/js/plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
			{ src: '/js/plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } },
			{ src: '/js/plugin/menu/menu.js', async: true, condition: function() { return !!document.body.classList; } }
		]
	});
</script>