

{% if layout.common-js %}
  {% for js in layout.common-js %}
    {% if js contains 'jquery' %}
      <script>
      	if (typeof jQuery == 'undefined') {
          document.write('<script src="{{ js | relative_url }}"></scr' + 'ipt>');
      	}
      </script>
    {% else %}
      <script src="{{ js | relative_url }}"></script>
    {% endif %}
  {% endfor %}
{% endif %}
{% if layout.common-ext-js %}
  {% for js in layout.common-ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}
{% if page.ext-js %}
  {% for js in page.ext-js %}
    {% include ext-js.html js=js %}
  {% endfor %}
{% endif %}

{% if page.js %}
  {% for js in page.js %}
    <script src="{{ js | relative_url }}"></script>
  {% endfor %}
{% endif %}
<script>
  $('.navbar-collapse a').click(function(){
    if($(this).attr('href') != 'javascript:void(0)'){
      $(".navbar-collapse").collapse('hide');
    }
  });
  /*
  jQuery(document).ready(function($) {
    let tag= "."+location.hash.substring(1);
    if(tag==".") tag="*";
    var $grid = $('.card-group').isotope({
    itemSelector: '.card',
    layoutMode: 'masonry',
    filter: tag,
    masonry: {
      gutter: 15}
    });
    $(window).on('onhashchange', function() {
      $grid.isotope({ filter: tag })
      $grid.isotope('layout');
    });
    $grid.isotope({ filter: tag })
    $grid.isotope('layout');  
  });
  */
  let tag= "."+location.hash.substring(1);
  if(tag==".") tag="*";
  var $grid = $('.card-group').isotope({
    itemSelector: '.card',
    layoutMode: 'masonry',
    filter: tag,
    masonry: {
      gutter: 15 }});

  document.addEventListener('readystatechange', function(event) {
    if (document.readyState === "complete") {
      $grid.isotope('layout');  
      console.log("Refreshed isotope");
    }
  });
</script>
      