{%- assign this_post = include.post -%}
{%- assign icon = include.list-icon -%}
{%- assign default_icon = site.data.theme.icon["default"] -%}
{%  unless icon -%}
  {%- assign icon = site.data.theme.icon[this_post.category] -%}
{% endunless -%}

<div class="card {{ this_post.category }}">
  <div class="card-body">
    <a href="{{ this_post.url | relative_url }}">
      <h3 class="post-category-name card-title">
        <i class="fa fas
        {% if this_post.list-icon %}
        {{ this_post.list-icon }}
        {% elsif icon %}
        {{ icon }}
        {% else %}
        {{ default_icon }}
        {% endif %}
        aria-hidden="true"></i> 
        {{ this_post.title }} 
      </h3>
    </a>
    <!-- Card information -->
    <div class="card-information-box">
      {% if post.category == "scenario" %}
        <div class="badge duration">{{ post.scenario.duration }}</div>
        <div class="badge audience">{{ post.scenario.audience }}</div>
      {% else %}
        {%- assign keypoints = this_post.key-points | truncate: {{ site.truncate_keypoints }} -%}
        {% if keypoints %}
        <p class="description">Key points: </p>
          {% for keypoint in keypoints %}
          <p class="card-text card-text-list" >{{ keypoint }}</p>
          {% endfor %}
        {% else %}
          <p class="card-text" >{{ this_post.content | strip_html | xml_escape | truncatewords: site.excerpt_length }}...</p>
        {% endif %}
      {% endif %}
    </div>
    <!-- Tags -->
    {% if post.tags.size > 0 %}
      <div class="slide-tags">
        <p class="description" >Tags: </p>
        <div class="container-fluid">
          {% for tag in post.tags %}
            <a class="bg-primary badge label-primary" href="{{ '/tags' | relative_url }}#{{- tag -}}">{{- tag -}}</a>
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</div>