<nav class="navbar navbar-default navbar-fixed-top navbar-custom">
  <div class="container-fluid">
        <style>
.navbar-header button { float: left !important; margin-left:15px;}
.navbar-header {
    display: inline-block; }

      </style>

    <div class="navbar-header">

      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#main-navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      {%- if site.title-img -%}
        <a class="navbar-brand navbar-brand-logo" href="{{ '' | absolute_url }}"><img src="{{ site.title-img }}"/></a>
      {%- else -%}
        <a class="navbar-brand" href="{{ '' | absolute_url }}">{{ site.title }}</a>
      {%- endif -%}
       </div>
    <div class="collapse navbar-collapse" id="main-navbar">
      <ul class="nav navbar-nav">
        {%- for link in site.navbar-links -%}
          <li class="{{link[0]}}"><a href="{{ link[1] | relative_url }}">{{ link[0] }}</a></li>
        {%- endfor -%}
        {% assign categories = site.notes | where_exp: "item", "item.category != nil" | group_by: "category" %}
        {% assign sortedCategories = categories | sort: "name" %}
        {% for category in sortedCategories %}
          <li class="{{category.name}}"><a href="/notes#{{category.name}}">{{ category.name }}</a></li>
        {%- endfor -%}
      </ul>
    </div>

	{% if page.image and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ '' | absolute_url }}">
	      <img class="avatar-img" src="{{ page.image | relative_url }}" />
		</a>
	  </div>
	</div>
	{% elsif site.avatar and (layout.show-avatar or page.show-avatar) %}
	<div class="avatar-container">
	  <div class="avatar-img-border">
	    <a href="{{ '' | absolute_url }}">
	      <img class="avatar-img" src="{{ site.avatar | relative_url }}" />
		</a>
	  </div>
	</div>
	{% endif %}

  </div>
</nav>
