---
layout: page
---

{{ content }}

<script>
  $('.card-group').isotope({
    itemSelector: '.card',
    layoutMode: 'fitRows'
  })

function setAllCategoriesDisplay(value){
  for (let item of document.getElementsByClassName("card")) {
      item.style.display=value;
  }
}
function showSelectedCategory(){
  let tag= location.hash.substring(1);
  if(document.getElementsByClassName(tag) != null){
    setAllCategoriesDisplay("none");
    for (let item of document.getElementsByClassName(tag)) {
      item.style.display="block";
    }
  }else{
    setAllCategoriesDisplay("block");
  }
}
window.onhashchange = showSelectedCategory
showSelectedCategory();

</script>
