---
layout: base
---

{% include header.html type="page" %}

<div class="container" role="main">
  <div class="row">
<!-- pjg --->
    <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
    {{ content | replace: '<li>[o]', '<li class="box task-list-item"><input type="checkbox" class="task-list-item-checkbox" disabled="disabled">' 
               | replace: '<li>[x]', '<li class="box_done task-list-item"><input type="checkbox" class="task-list-item-checkbox" value="on" checked="checked" disabled="disabled">' }}
<!-- pjg --->
    </div>
  </div>
</div>
