---
layout: reveal
---
<!-- slide deck -->
<div class="reveal">
  <div class="slides">
    <section data-markdown
    {% if page.title-image %}
	  class="with-image" 
	  data-background-image="{{ page.title-image }}" 
    data-background-size="30%" 
    data-background-position="left" 
    {% endif %}>
      <script type="text/markdown">
  	  # {{ page.title }}  
      </script>
    </section>
    <section data-markdown>
      <script type="text/markdown">
      ## Objectives
      {% for objective in page.objectives %}
      * {{ objective }}
      {% endfor %}
      </script>
    </section>
    {% include reveal/sections/toc.html %}
    <section data-markdown data-separator="^\n<hr />$" data-vertical="^\n--\n$" data-notes="^<p>Note:</p>">
      <script type="text/template">
        {{ content }}
      </script>
    </section>
    {% if page.readmore %}
      {% include reveal/sections/readmore.html %}
    {% endif %}
    {% include reveal/sections/back.html %}
  </div>
</div>
<!-- // slide deck -->