---
layout: resume
title: Piotr Jacek Gumulka
use-site-title: true
css:
  - "/assets/css/resume.css"
js:
  - "/assets/js/resume.js"
---
{% include resume/sections/career-profile.html %}
{% include resume/sections/experiences.html %}
{% include resume/sections/projects.html %}
{% unless site.resume.sidebar.certs %}
  {% include resume/sections/certs.html %}  
{% endunless %}
{% unless site.resume.sidebar.education %}
  {% include resume/sections/education.html %}
{% endunless %}
{% unless site.resume.sidebar.skills %}
  {% include resume/sections/skills.html %}
{% endunless %}