---
layout: listing
title: Notes
subtitle: Notes on various topics that I found interesting
---

<div class="card-group container-fluid">
  <div class="grid-sizer"></div>
  <div class="gutter-sizer"></div>
  {% for post in site.notes %}
    <div class="card {{ post.category }}">
      <div class="card-body">
        <a href="{{ post.url | relative_url }}">
          <h3 class="post-category-name card-title">
            <i class="fa fas {{ site.data.theme.icons[post.category] }}" aria-hidden="true"></i> 
            {{ post.title }} 
          </h3>
        </a>
        <!-- Card information -->
        <div class="card-information-box">
          {% if post.duration %}
          <div class="badge duration">{{ post.scenario.duration }}</div>
          {% endif %}
          {% if post.audience %}
            <div class="badge audience">{{ post.scenario.audience }}</div>
          {% endif %}
          {%- assign keypoints = post.key-points | slice: 0, site.max_keypoints -%}
          {% if keypoints.size > 0 %}
            <p class="description">Key points: </p>
            {% for keypoint in keypoints %}
              <p class="card-text card-text-list" >{{ keypoint }}</p>
            {% endfor %}
          {% else %}
            <p class="card-text" >{{ post.content | strip_html | xml_escape | truncatewords: site.excerpt_length }}</p>
          {% endif %}
        </div>
        <!-- Tags -->
        {% if post.tags.size > 0 %}
          <div class="card-tags">
            <!--<p class="description" >Tags: </p>-->
            <div class="container-fluid">
              {% for tag in post.tags %}
                <a class="bg-primary badge label-primary" href="{{ '/tags' | relative_url }}#{{- tag | slugify -}}">{{- tag -}}</a>
              {% endfor %}
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endfor %}
</div>
