{% assign author = site.author %}
{% assign sidebar = site.resume.sidebar %}
<div class="sidebar-wrapper">

  {% include resume/sections/profile.html %}

  {% include resume/sections/contact.html %}

  {% include resume/sections/language.html %}
  
  {% if sidebar.education %}
    {% include resume/sections/education.html %}
  {% endif %}

  {% if sidebar.certs %}
    {% include resume/sections/certs.html %}
  {% endif %}

  {% if sidebar.skills %}
    {% include resume/sections/skills.html %}
  {% endif %}
  
  {% include resume/sections/interests.html %}

</div><!--//sidebar-wrapper-->
